# WhiteSource agent configuration for sonarlint-omnisharp - Java/Maven

# WhiteSource documentation https://whitesource.atlassian.net/wiki/spaces/WD/pages/1544880156/Unified+Agent+Configuration+Parameters

# Exclude tests - only scan product code
# Also exclude the .NET code - it is scanned separately
excludes=**/*sources.jar **/*javadoc.jar its/src/test/projects/** omnisharp-plugin/src/test/** omnisharp-dotnet/**
fileSystemScan=False
resolveAllDependencies=False

maven.aggregateModules=True
maven.downloadMissingDependencies=False
maven.resolveDependencies=True
maven.runPreStep=False

wss.url=https://saas-eu.whitesourcesoftware.com/agent

forceUpdate=true
checkPolicies=true
forceUpdate.failBuildOnPolicyViolation=false
