<?xml version="1.0" encoding="utf-8"?>
<configuration>

  <packageRestore>
    <!-- Allow NuGet to download missing packages -->
    <add key="enabled" value="True" />

    <!-- Automatically check for missing packages during build in Visual Studio -->
    <add key="automatic" value="True" />
  </packageRestore>

  <packageSources>
    <clear />
     <add key="repox_proxy" value="https://repox.jfrog.io/artifactory/api/nuget/nuget" />
   </packageSources>

   <packageSourceCredentials>
       <repox_proxy>
         <add key="Username" value="%ARTIFACTORY_USER%" />
         <add key="ClearTextPassword" value="%ARTIFACTORY_PASSWORD%" />
       </repox_proxy>
   </packageSourceCredentials>

</configuration>
