name: Shadow scans
on:
  schedule:
    # Run the workflow every day at 04:00 UTC
    - cron: '0 4 * * *'
  workflow_dispatch:

jobs:
  parent-scan:
    runs-on: github-ubuntu-latest-s
    name: Scan parent on shadow platforms
    permissions:
      id-token: write
      contents: write
    steps:
      - uses: actions/checkout@08eba0b27e820071cde6df949e0beb9ba4906955 # v4.3.0
      - name: Install dependencies
        run: |
          bash .github/scripts/install_dependencies.sh
      - name: Get Repox Credentials from Vault
        id: secrets
        uses: SonarSource/vault-action-wrapper@v3
        with:
          secrets: |
            development/artifactory/token/{REPO_OWNER_NAME_DASH}-private-reader username | ARTIFACTORY_USERNAME;
            development/artifactory/token/{REPO_OWNER_NAME_DASH}-private-reader access_token | ARTIFACTORY_ACCESS_TOKEN;
      - name: Populate Maven settings
        run: |
          mkdir ~/.m2 && cp .github/workflows/resources/settings.xml ~/.m2/settings.xml
      - name: Build dotnet project
        env:
          # for nuget
          ARTIFACTORY_USER: ${{ fromJSON(steps.secrets.outputs.vault).ARTIFACTORY_USERNAME }}
          ARTIFACTORY_PASSWORD: ${{ fromJSON(steps.secrets.outputs.vault).ARTIFACTORY_ACCESS_TOKEN }}
          # for Maven
          ARTIFACTORY_ACCESS_TOKEN: ${{ fromJSON(steps.secrets.outputs.vault).ARTIFACTORY_ACCESS_TOKEN }}
        run: |
          # Restore the .NET project using Repox as source feed
          dotnet restore omnisharp-dotnet/SonarLint.OmniSharp.DotNet.Services.sln \
            --locked-mode \
            --configfile omnisharp-dotnet/nuget.config

          # Get OmniSharp fork from Repox
          mvn generate-resources -B -Denable-repo=qa -DskipIts -Pdownload-omnisharp-for-building

          # Build and run .NET unit tests
          dotnet test omnisharp-dotnet/SonarLint.OmniSharp.DotNet.Services.sln \
            -c Release \
            -p:CollectCoverage=true -p:CoverletOutput=TestResults/ -p:CoverletOutputFormat=opencover \
            --no-restore
      - uses: jdx/mise-action@c37c93293d6b742fc901e1406b8f764f6fb19dac # v2.4.4
        with:
          version: 2025.7.12
      - uses: SonarSource/ci-github-actions/build-maven@master # dogfood
        with:
          maven-opts: -DskipIts
          run-shadow-scans: true
          artifactory-reader-role: private-reader
          artifactory-deployer-role: qa-deployer
      - name: Run IRIS sync
        uses: SonarSource/unified-dogfooding-actions/run-iris@v1
        with:
          primary_project_key: "org.sonarsource.sonarlint.omnisharp:sonarlint-omnisharp-parent"
          primary_platform: "Next"
          shadow1_project_key: "org.sonarsource.sonarlint.omnisharp:sonarlint-omnisharp-parent"
          shadow1_platform: "SQC-EU"
          shadow2_project_key: "org.sonarsource.sonarlint.omnisharp:sonarlint-omnisharp-parent"
          shadow2_platform: "SQC-US"

  dotnet-scan:
    runs-on: github-ubuntu-latest-s
    name: Scan dotnet project on shadow platforms
    permissions:
      id-token: write
      contents: write
    steps:
      - uses: actions/checkout@v5
        with:
          fetch-depth: 0

      - name: Install dependencies
        run: |
          bash .github/scripts/install_dependencies.sh
          dotnet tool install --global dotnet-sonarscanner

      - name: Get Repox Credentials from Vault
        id: secrets
        uses: SonarSource/vault-action-wrapper@v3
        with:
          secrets: |
            development/artifactory/token/{REPO_OWNER_NAME_DASH}-private-reader username | ARTIFACTORY_USERNAME;
            development/artifactory/token/{REPO_OWNER_NAME_DASH}-private-reader access_token | ARTIFACTORY_ACCESS_TOKEN;
            development/artifactory/token/{REPO_OWNER_NAME_DASH}-private-reader access_token | ARTIFACTORY_ACCESS_TOKEN;
            development/kv/data/sonarcloud url | SQC_EU_URL;
            development/kv/data/sonarcloud token | SQC_EU_TOKEN;
            development/kv/data/sonarqube-us url | SQC_US_URL;
            development/kv/data/sonarqube-us token | SQC_US_TOKEN;

      - name: Populate Maven settings
        run: |
          mkdir ~/.m2 && cp .github/workflows/resources/settings.xml ~/.m2/settings.xml

      - name: Build and analyze dotnet project on SQC EU
        env:
          # for nuget
          ARTIFACTORY_USER: ${{ fromJSON(steps.secrets.outputs.vault).ARTIFACTORY_USERNAME }}
          ARTIFACTORY_PASSWORD: ${{ fromJSON(steps.secrets.outputs.vault).ARTIFACTORY_ACCESS_TOKEN }}
          SONAR_TOKEN: ${{ fromJSON(steps.secrets.outputs.vault).SQC_EU_TOKEN }}
          SONAR_REGION: eu
          # for Maven
          ARTIFACTORY_ACCESS_TOKEN: ${{ fromJSON(steps.secrets.outputs.vault).ARTIFACTORY_ACCESS_TOKEN }}
        run: |
          bash .github/scripts/build_scan_dotnet.sh

      - name: Build and analyze dotnet project on SQC US
        env:
          # for nuget
          ARTIFACTORY_USER: ${{ fromJSON(steps.secrets.outputs.vault).ARTIFACTORY_USERNAME }}
          ARTIFACTORY_PASSWORD: ${{ fromJSON(steps.secrets.outputs.vault).ARTIFACTORY_ACCESS_TOKEN }}
          SONAR_TOKEN: ${{ fromJSON(steps.secrets.outputs.vault).SQC_US_TOKEN }}
          SONAR_REGION: us
        run: |
          bash .github/scripts/build_scan_dotnet.sh

      - name: Run IRIS sync
        uses: SonarSource/unified-dogfooding-actions/run-iris@v1
        with:
          primary_project_key: "sonarlint-omnisharp-dotnet"
          primary_platform: "Next"
          shadow1_project_key: "sonarlint-omnisharp-dotnet"
          shadow1_platform: "SQC-EU"
          shadow2_project_key: "sonarlint-omnisharp-dotnet"
          shadow2_platform: "SQC-US"
